# don't ever lint node_modules
**/node_modules/*
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
**/.next/*
*.json
*.lock
*.css
*.scss
**/out/*
next-env.d.ts
# next.config.js

# Arquivos do tema:

next-env.d.ts
src/components/AppStore.tsx
src/components/Box.tsx
src/components/Card.tsx
src/components/Card1.tsx
src/components/CategorySectionCreator.tsx
src/components/CategorySectionHeader.tsx
src/components/CheckBox.tsx
src/components/Chip.tsx
src/components/Container.tsx
src/components/CssGrid.tsx
src/components/Divider.tsx
src/components/FlexBox.tsx
src/components/Image.tsx
src/components/LazyImage.tsx
src/components/Menu.tsx
src/components/MenuItem.tsx
src/components/Select.tsx
src/components/Spinner.tsx
src/components/TableRow.tsx
src/components/Typography.tsx
src/components/accordion/Accordion.tsx
src/components/accordion/AccordionHeader.tsx
src/components/accordion/AccordionStyle.tsx
src/components/avatar/Avatar.tsx
src/components/avatar/AvatarStyle.tsx
src/components/badge/Badge.tsx
src/components/buttons/Button.tsx
src/components/buttons/IconButton.tsx
src/components/carousel-cards/CarouselCard1.tsx
src/components/carousel-cards/CarouselCard2.tsx
src/components/carousel-cards/CarouselCardStyle.tsx
src/components/carousel/Carousel.tsx
src/components/carousel/CarouselStyle.tsx
src/components/categories/Categories.tsx
src/components/categories/CategoryDropdown.tsx
src/components/categories/CategoryDropdownStyle.tsx
src/components/categories/CategoryStyle.tsx
src/components/categories/category-menu-item/CategoryMenuItem.tsx
src/components/categories/category-menu-item/CategoryMenuItemStyle.tsx
src/components/categories/mega-menu/MegaMenu1.tsx
src/components/categories/mega-menu/MegaMenu2.tsx
src/components/categories/mega-menu/MegaMenu3.tsx
src/components/categories/mega-menu/MegaMenuStyle.tsx
src/components/checkout/CheckoutForm.tsx
src/components/checkout/CheckoutForm2.tsx
src/components/checkout/CheckoutSummary.tsx
src/components/checkout/CheckoutSummary2.tsx
src/components/dashboard/VendorAnalyticsChart.tsx
src/components/favorite/Favorite.tsx
src/components/footer/Footer.tsx
src/components/grid/Grid.tsx
src/components/grid/GridStyle.tsx
src/components/header/GroceryHeader.tsx
src/components/header/Header.tsx
src/components/header/HeaderStyle.tsx
src/components/hidden/Hidden.tsx
src/components/icon/Icon.tsx
src/components/icon/IconStyle.tsx
src/components/layout/AppLayout.tsx
src/components/layout/AppLayoutStyle.tsx
src/components/layout/DashboardPageHeader.tsx
src/components/layout/DashboardStyle.tsx
src/components/layout/CustomerDashboardLayout.tsx
src/components/layout/CustomerDashboardNavigation.tsx
src/components/mobile-navigation/MobileNavigationBar.style.tsx
src/components/mobile-navigation/MobileNavigationBar.tsx
src/components/nav-link/NavLink.tsx
src/components/nav-link/NavLinkStyle.tsx
src/components/navbar/Navbar.tsx
src/components/navbar/Navbar2.tsx
src/components/navbar/NavbarStyle.tsx
src/components/navbar/SaleNavbar.tsx
src/components/payment/PaymentSummary.tsx
src/components/radio/Radio.tsx
src/components/radio/RadioGroup.style.tsx
src/components/radio/RadioGroup.tsx
src/components/rating/Rating.tsx
src/components/rating/RatingStyle.tsx
src/components/rating/Star.tsx
src/components/sessions/Login.tsx
src/components/sessions/SessionStyle.tsx
src/components/sessions/Signup.tsx
src/components/sidenav/Sidenav.tsx
src/components/sidenav/SidenavStyle.tsx
src/components/slider/Slider.style.tsx
src/components/slider/Slider.tsx
src/components/sticky/SickyStyle.tsx
src/components/sticky/Sticky.tsx
src/components/text-field/TextField.tsx
src/components/text-field/TextFieldStyle.tsx
src/components/textarea/TextArea.tsx
src/components/textarea/TextAreaStyle.tsx
src/contexts/app/AppContext.tsx
src/data/navbarNavigations.ts
src/data/navigations.ts
src/interfaces/index.ts
src/pages/404.tsx
src/pages/_app.tsx
src/pages/_document.tsx
src/pages/about.tsx
src/pages/address/[id].tsx
src/pages/address/index.tsx
src/pages/cart.tsx
src/pages/checkout-alternative.tsx
src/pages/checkout.tsx
src/pages/home-2.tsx
src/pages/home-3.tsx
src/pages/home-4.tsx
src/pages/index.tsx
src/pages/login.tsx
src/pages/mobile-category-nav.tsx
src/pages/orders/[id].tsx
src/pages/orders/index.tsx
src/pages/payment.tsx
src/pages/product/[id].tsx
src/pages/product/search/[id].tsx
src/pages/profile/edit.tsx
src/pages/profile/index.tsx
src/pages/sale-page-1.tsx
src/pages/sale-page-2.tsx
src/pages/signup.tsx
src/reducers/cartReducer.ts
src/reducers/combineReducers.ts
src/reducers/layoutReducer.ts
src/reducers/rootReducer.ts
src/utils/constants.ts
src/utils/globalStyles.ts
src/utils/theme.ts
src/utils/themeColors.ts
src/utils/themeShadows.ts
src/utils/utils.ts
